<div class="row ">
    <div class="container-fluid col " style="padding-top: 25vh;
    padding-left: 5vh;">
        <h1 class="text-danger">A Comprehensive problem for reliable</h1>
        <h2 class="text-light ml12">job opportunities and internships.</h2>
        <h5 class="text-light">Get Discovered Get Hired</h5>
        <a class="btn btn-danger">I'm a Job seeker</a>
        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">I'm a Recruiter</a>
        <span id="element"></span>

  <!-- Load library from the CDN -->
  
    </div>

    <div class="container-fluid col text-center">
        <img src="banner.png" alt="">
    </div>


</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title bold" id="staticBackdropLabel">
          Experience easily!
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/register" method="post" class="p-2">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Name</span>
              <input required="" name="name" type="text" aria-label="name" class="form-control" placeholder="enter your name">
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Email</span>
              <input required="" name="email" type="email" aria-label="email" class="form-control" placeholder="enter your email">
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Password</span>
              <input required="" name="password" type="password" aria-label="password" class="form-control" placeholder="enter your password">
            </div>
          </div>

          <button type="submit" class="btn btn-danger">Register</button>
        </form>
      </div>
      <div class="modal-footer d-flex align-items-centre justify-content-between">
        <div class="left d-flex flex-row align-items-centre justify-content-centre">
          <!-- Button trigger login modal -->
          <span>Already registered?</span>
          <a type="button" class="btn btn-sm px-3 btn-outline-success" href="/login">
            login
          </a>
        </div>
        <div class="right">
          <a href="#"><i class="text-primary bi bi-twitter"></i></a>
          <a href="#"><i class="text-danger bi bi-instagram"></i></a>
          <a href="#"><i class="text-info bi bi-facebook"></i></a>
          <a href="#"><i class="text-success bi bi-whatsapp"></i></a>
          <a href="#"><i class="text-primary bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
